<div data-ng-controller="learningItemsDetail as vm">
  <div style="padding-left:5px;">
    <table class="ms-core-tableNoSpace">
      <tbody>
        <tr>
          <td>
            <div class="ms-webpart-zone ms-fullWidth">
              <div class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth">
                <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth">
                  <div width="100%" class="noindex">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <table class="ms-formtable" style="margin-top:8px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td nowrap="true" valign="top" width="113px" class="ms-formlabel">
                                    <h3 class="ms-standardheader"><nobr>Title</nobr></h3>
                                  </td>
                                  <td valign="top" width="350px" class="ms-formbody">
                                    <span dir="none">
                                      <input type="text" data-ng-model="vm.learningItem.Title" class="ms-long ms-spellcheck-true" />
                                      <br />
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td nowrap="true" valign="top" width="113px" class="ms-formlabel">
                                    <h3 class="ms-standardheader"><nobr>Learning Path</nobr></h3>
                                  </td>
                                  <td valign="top" width="350px" class="ms-formbody">
                                    <span dir="none">
                                      <select data-ng-model="vm.learningItem.LearningPath.Id"
                                              data-ng-options="lp.Id as lp.Title for lp in vm.learningPaths">
                                        <option value="">-- choose learning path --</option>
                                      </select>
                                      <br />
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td nowrap="true" valign="top" width="113px" class="ms-formlabel">
                                    <h3 class="ms-standardheader"><nobr>Item Type</nobr></h3>
                                  </td>
                                  <td valign="top" width="350px" class="ms-formbody">
                                    <span dir="none">
                                      <select data-ng-model="vm.learningItem.ItemType"
                                              data-ng-options="c for c in vm.itemTypes">
                                        <option value="">-- choose item type --</option>
                                      </select>
                                      <br />
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td nowrap="true" valign="top" width="113px" class="ms-formlabel">
                                    <h3 class="ms-standardheader"><nobr>URL</nobr></h3>
                                  </td>
                                  <td valign="top" width="350px" class="ms-formbody">
                                    <span dir="none">
                                      <input type="text" data-ng-model="vm.learningItem.Url" class="ms-long ms-spellcheck-true" />
                                      <br />
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td nowrap="true" valign="top" width="113px" class="ms-formlabel">
                                    <h3 class="ms-standardheader"><nobr>Description</nobr></h3>
                                  </td>
                                  <td valign="top" width="350px" class="ms-formbody">
                                    <span dir="none">
                                      <textarea data-ng-model="vm.learningItem.OData__Comments"
                                                class="ms-long ms-spellcheck-true"
                                                rows="5"></textarea>
                                      <br />
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- footer -->
                            <table cellpadding="0" cellspacing="0" width="100%" style="padding-top:7px">
                              <tbody>
                                <tr>
                                  <td width="100%">
                                    <table class="ms-formtoolbar" cellpadding="2" cellspacing="0" border="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td class="ms-toolbar" nowrap="nowrap">
                                            <table cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td nowrap="nowrap" class="ms-descriptiontext">
                                                    <span><nobr>Created at {{vm.created()}}</nobr></span>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td nowrap="nowrap" class="ms-descriptiontext">
                                                    <span><nobr>Last modified at {{vm.modified()}}</nobr></span>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td width="99%" class="ms-toolbar" nowrap="nowrap">
                                            <img src="/_layouts/15/images/blank.gif" width="1" height="18" alt="">
                                          </td>
                                          <td class="ms-toolbar" nowrap="nowrap">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="right" width="100%" nowrap="nowrap">
                                                    <input type="button" data-ng-click="vm.goSave()"
                                                           value="Save" class="ms-ButtonHeightWidth" target="_self">
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td class="ms-separator">&nbsp;</td>
                                          <td class="ms-toolbar" nowrap="nowrap">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="right" width="100%" nowrap="nowrap">
                                                    <input type="button" data-ng-click="vm.goDelete()"
                                                           value="Delete" class="ms-ButtonHeightWidth" target="_self">
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td class="ms-separator">&nbsp;</td>
                                          <td class="ms-toolbar" nowrap="nowrap">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="right" width="100%" nowrap="nowrap">
                                                    <input type="button" data-ng-click="vm.goBack()"
                                                           value="Cancel" class="ms-ButtonHeightWidth" target="_self">
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>